# Python Cache files
__pycache__/
*.pyc
*.py[cod]

# Virtual Environment directories
vbeulah/
venv/

# Environment variable files
env/
.env


# Database files
*.db
*.sql

# Log files
*.log

# Instance folder (contains temporary files, local configurations)
# instance/

# Migrations folder (Only ignore if you don’t want to track them)
migrations
migrations/
