{% extends "user/user_template.html" %}

{% block title %}Partnership - Beulah Foundation for Christ{% endblock %}


{% block content %}

<div class="row">

    {% include "user/navigation.html" %}

    <div class="col-12 pages-banner">
        <div class="banner-heading">
            <h1>Partnership</h1>
        </div>
    </div>
  
</div>


<div class="row partnership-page-content parent" data-aos="fade-up">
    <div class="col-12">

        <div>
            <p>Beulah Foundation for Christ has a God-ordained mandate to reach out to the young both married and single to equip them spiritually and physically in order for them to fulfill their God-given destinies .</p>
            <p> Partnership with us is a partnership with Christ Jesus and connects you to the blessing and grace upon this vision (1Corinthians 9:28).</p>
        </div>
        <div>
            <p>Partnership is the relationship between people who support one another in the achievement of a common goal, Partnership with Beulah Foundation for Christ involves a commitment of regular financial support to help meet spiritual and physical needs to the young both married and single. </p>
            <p>In this Ministry, we are quite aggressive when it comes to meeting the needs of the people we minister to as this open their hearts to receive the message of the Love of Christ which is our mandate. However, we can't do this alone. This is why we are asking you to partner with us to achieve this God-ordained goal.</p>
        </div>
        <div class="responsibilities">
        
            <p class="partnership-role-title">As you respond positively to this, we are mandated by the Lord on our part to do the following</p>

            <ul>
                <li>Pray daily for God's blessings to be on you and yours.</li>
                <li>Have periodical meetings exclusively with you on both spiritual and physical matters as directed by the Holy Spirit.</li>
                <li>To get resource materials to you as they are produced for free.</li>
                <li>Be good stewards and operate with integrity and excellence.</li>
                 
            </ul>
        </div>
        <div class="responsibilities">
            <p class="partnership-role-title">While your part is to</p>
            <ul>
                <li>Attend our meetings</li>
                <li>Pray for the Ministry</li>
                <li>Contact us periodically</li>
                <li>Help to recruit new Partners for the Ministry</li>
                <li>Support us financially with your monthly pledge. “I don't say this because I want a gift from you. Rather, I want you to receive a reward for your kindness.”  Philippians 4:17.</li>
            </ul>
        </div>

        <div>
            <a href="{{url_for('contact_us')}}"  class="btn contact-for-info-link">Contact us for more details</a>
        </div>
    </div>
    
</div>


  



{% endblock content %}




