{% extends "user/user_template.html" %}

{% block title %}Reading Resources - Beulah Foundation for Christ{% endblock %}
{% block content %}

    <div class="row">

        {% include "user/navigation.html" %}

        <div class="col-12 pages-banner">
            <div class="banner-heading">
                <h1>Reading Resources</h1>
            </div>
        </div>
    
    </div>


    <div class="row resources-container" data-aos="fade-up">

        {% if reading_resources %}
            {% for resource, comment_count  in reading_resources %}
                <div class="col-12 mt-5">
                    <div class="sermon-card">
                        <div class="text-section">
                            <h3>{{resource.resource_title}}</h3>              
                            <p><span class="date-title">Date:</span> <span class="date">{{resource.resource_date.strftime('%d-%b-%Y')}}</span></p>
                            <p>
                                {{resource.resource_body[0:280] | safe}}...
                            </p>
                            <div class="mt-3">
                                <a href="{{url_for('dynamic_messages', id=resource.resource_id)}}" class="read-more">Read More</a>
                                <span class="comment-icon"><i class="fa fa-comment"></i> {% if comment_count %} {{comment_count}} {% else %} No Comments {% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        







        <div class="col-12 resource-pagination">
            <nav aria-label="...">
            <ul class="pagination">
            {% if pagination%}
            {% if pagination.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ base_url }}?page={{ pagination.prev_num }}"><i class="fa-solid fa-angle-left"></i></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link"><i class="fa-solid fa-angle-left"></i></span>
                </li>
            {% endif %}
            {%endif%}

            

            {% if pagination %}
                {% for page_num in pagination.iter_pages(left_edge=0, right_edge=0, left_current=0, right_current=0) %}
                
                {% if page_num %}
                    <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
                        <a class="page-link" href="{{ base_url }}?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endif %}

                {% endfor %}
            {% endif%}



            {% if pagination %}
            {% if pagination.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ base_url }}?page={{ pagination.next_num }}"><i class="fa-solid fa-angle-right"></i></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link"><i class="fa-solid fa-angle-right"></i></span>
                </li>
            {% endif %}
            {% endif %}
            </ul>
            </nav>
        </div>
    </div>




{% endblock content %}





