{% extends 'admin/admin_template.html '%}

{% block title %}Audio Resources - Beulah Foundation for Christ{% endblock title %}


{% block content %}

    
    <div class="row filter-parent-container">
        <div class="col-12 filter-container" >

            <div class="add-resource-div">
                <a href="{{url_for('add_audio_resource')}}" class="link-1">Add New Audio</a>
            </div>

            <div class="filter-section">

                <div class="select-style-1">
                        
                    <div class="select-position">
                        <select class="form-select months" name="month">
                            <option value="all" {% if request.args.get('month') == 'all' %}selected{% endif %}>All Months</option>
                            <option value="1" {% if request.args.get('month') == '1' %}selected{% endif %}>January</option>
                            <option value="2" {% if request.args.get('month') == '2' %}selected{% endif %}>February</option>
                            <option value="3" {% if request.args.get('month') == '3' %}selected{% endif %}>March</option>
                            <option value="4" {% if request.args.get('month') == '4' %}selected{% endif %}>April</option>
                            <option value="5" {% if request.args.get('month') == '5' %}selected{% endif %}>May</option>
                            <option value="6" {% if request.args.get('month') == '6' %}selected{% endif %}>June</option>
                            <option value="7" {% if request.args.get('month') == '7' %}selected{% endif %}>July</option>
                            <option value="8" {% if request.args.get('month') == '8' %}selected{% endif %}>August</option>
                            <option value="9" {% if request.args.get('month') == '9' %}selected{% endif %}>September</option>
                            <option value="10" {% if request.args.get('month') == '10' %}selected{% endif %}>October</option>
                            <option value="11" {% if request.args.get('month') == '11' %}selected{% endif %}>November</option>
                            <option value="12" {% if request.args.get('month') == '12' %}selected{% endif %}>December</option>
                        </select>
                        
                    </div>
                </div>
                
            
                <div class="select-style-1">
                    
                    <div class="select-position">
                    <select class="form-select sort-order" name="sortOrder">
                        <option value="desc" {{ get_selected_option('desc') }}>Desc</option>
                        <option value="asc" {{ get_selected_option('asc') }}>Asc</option>
                    </select>
                    </div>
                </div>

                <button id="filter-audio-resources" class="butt-1">Filter</button>
            
            </div>

            <div class="search-filter-form">
                <form role="search" id="audios-search-form">
                    <input 
                    type="search" placeholder="Search by title..." 
                    name="title"
                    aria-label="Search" 
                    id="search-bar" 
                    placeholder="Search by title..."
                >
                </form>
            </div>

            <div class="pagination-container">

                <!-- Pagination Controls -->
                
                <nav aria-label="...">
                    <ul class="pagination">
                    {% if pagination%}
                    {% if pagination.has_prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ base_url }}?page={{ pagination.prev_num }}&sortOrder={{ request.args.get('sortOrder', 'desc') }}&month={{ request.args.get('month', 'all') }}&title={{ request.args.get('title', '') }}"><i class="fa-solid fa-angle-left"></i></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"><i class="fa-solid fa-angle-left"></i></span>
                        </li>
                    {% endif %}
                    {%endif%}

                    

                    {% if pagination %}
                        {% for page_num in pagination.iter_pages(left_edge=0, right_edge=0, left_current=0, right_current=0) %}
                        
                        {% if page_num %}
                            <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
                                <a class="page-link" href="{{ base_url }}?page={{ page_num }}&sortOrder={{ request.args.get('sortOrder', 'desc') }}&month={{ request.args.get('month', 'all') }}&title={{ request.args.get('title', '') }}">{{ page_num }}</a>
                            </li>
                        {% endif %}

                        {% endfor %}
                    {% endif%}



                    {% if pagination %}
                    {% if pagination.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ base_url }}?page={{ pagination.next_num }}&sortOrder={{ request.args.get('sortOrder', 'desc') }}&month={{ request.args.get('month', 'all') }}&title={{ request.args.get('title', '') }}"><i class="fa-solid fa-angle-right"></i></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"><i class="fa-solid fa-angle-right"></i></span>
                        </li>
                    {% endif %}
                    {% endif %}
                    </ul>
                </nav>

            </div>

        </div>

    </div>
   
      
    <div class="row">
        <div class="col-12 table-wrapper">

            <table class="table">
                <thead>
                    <tr>
                    <th class="loop-num">
                        <h5>
                            #
                        </h5>
                    </th>

                    <th>
                        <h5>Title</h5>
                    </th>
                    
                    <th>
                        <h5>Comments</h5>
                    </th>

                    <th>
                        <h5>Upload Date</h5>
                    </th>

                    <th>
                        <h5>Edit</h5>
                    </th>

                    <th>
                        <h5>Play</h5>
                    </th>

                    <th>
                        <h5>Delete</h5>
                    </th>

                    </tr>
                    
                </thead>

            
                <tbody>
                    {% if audio_resources %}
                        {% for resource, comment_count in audio_resources %}
                            <tr id="resource-{{resource.resource_id}}">
                            <td class="loop-num">
                                <p>{{ (pagination.page - 1) * pagination.per_page + loop.index }}</p>
                            </td>
                            
                            <td class="min-width">
                                <p>
                                    {% if resource.resource_title|length > 21 %}
                                    {{ resource.resource_title[0:21] }}...
                                    {% else %}
                                        {{ resource.resource_title }}
                                    {% endif %}
                                </p>
                            </td>

                            <td class="min-width">
                                <p>
                                    <i class="fa-solid fa-comment"></i>{% if comment_count != 0 %} {{comment_count}} {% else %} No comments {% endif %}
                                </p>
                            </td>

                            <td class="min-width">
                                <p>{{resource.resource_updated_date.strftime('%d-%b-%Y')}}</p>
                            </td>

                            <td class="edit-action">
                                <p class="pointer"><a href="{{ url_for('edit_audio_resource', id=resource.resource_id) }}"><i class="fa-regular fa-pen-to-square"></i> Edit</a></p>
                            </td>

                            <td class="view-action">
                                <p class="pointer"><a href="{{url_for('dynamic_audios', id=resource.resource_id)}}"><i class="fa-regular fa-eye"></i>Play</a></p>
                            </td>

                            <td class="action">
                                <p class="pointer delete-resource-btn" data-id="{{resource.resource_id}}"><i class="fa-regular fa-trash-can"></i></p>
                            </td>
                            </tr>
                        {% endfor %}
                    {%else%}
                    <tr>
                        <td colspan="7" class="text-center">Audio Resources Found</td>
                    </tr>
                    {% endif %}
                
                </tbody>
            </table>

        </div>
    </div>
{% endblock content %}

{% block script %}

<script>

document.addEventListener('DOMContentLoaded', function(){
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    const baseUrl = "{{ base_url }}";

    document.querySelectorAll('.delete-resource-btn').forEach(button => {
        button.addEventListener('click', function () {

            const resourceId = this.dataset.id;

            // Confirm action
            confirmDelete('Are you sure you want to delete this audio resource?')
            .then(confirmed => {
                if (!confirmed) {
                    return;
                }

             
                fetch('{{url_for("delete_resource")}}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({ id: resourceId })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alertSuccess2('Successful',data.message);
                        const row = document.getElementById(`resource-${resourceId}`);
                        if (row) {
                            row.remove();
                        }
                    } else {
                        alertError('Error', data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
            })

           
        });
    });



    document.getElementById('filter-audio-resources').addEventListener('click', function () {
    
        const sortOrder = document.querySelector('select[name="sortOrder"]').value;
        const month = document.querySelector('select[name="month"]').value;
    
        const url = `${baseUrl}?page=1&sortOrder=${sortOrder}&month=${month}`;
        window.location.href = url;
    
    });
    
    
    
    
    document.getElementById('audios-search-form').addEventListener('submit', function(event) {
            event.preventDefault();
    
            const sortOrder = document.querySelector('select[name="sortOrder"]').value;
            const month = document.querySelector('select[name="month"]').value;
            const titleQuery = document.querySelector('input[name="title"]').value;
    
            
            const url = `${baseUrl}?page=1&sortOrder=${sortOrder}&month=${month}&title=${titleQuery}`;
            
    
            window.location.href = url;
        });
    
    
    })
</script>
    
{% endblock script %}
                           






       
   
    
 
      